body{ 
    background-image: url('../../imagenes/fondoLogin.jpg'); 
    background-repeat: repeat-y; 
    background-size: 100%; 
    font-size: 12px;
} 

.dialogLogin{
    background-image: url('../../imagenes/LOGO_1.BMP');
    background-repeat: no-repeat;
    background-size: 53%;
    background-position: bottom right;
}

.inputLogin{
    opacity: 0.8;
    width: 100%;
}

.labelLogin{
    font-size: 12px !important;
}

.panelSinBordes tr,.panelSinBordes td{
    border-style: none !important; 
}

.panelSinBordes{
    width: 100%;
}

.panelSinPadding td{
    padding: 0px 6px 0px 2px !important;
}

.inputFrm{
    width: 93%;
    text-transform: uppercase;
}

.comboInput{
    width: 84% !important;
    max-width: 190px !important;  
    min-width: 190px !important;
    overflow-x: auto !important;
}

.panelCombo{
    margin-left: -4px;
    max-width: 430px !important;
}

.tdBotonCatalogo{
    text-align: right;
}

.inputFechaFrm input{
    width: 80%;
}

.inputNumberFrm input{
    width: 90%;
}

.inputNumberFrm{
    width: 93%;
}

.ui-dialog-content{
    font-size: 12px;
}

.ui-column-filter{
    /*display: none !important;*/
}

.ui-lightbox{
    width: 100%;
    height: 100%;
}

.ui-lightbox-content-wrapper{
    height: 95%;
}

.iconoAmpliar{
    background-image: url('../../imagenes/buscar-buscar-ampliar-icono.png') !important;    
}

.iconoVer{
    background-image: url('../../imagenes/buscar-buscar-ampliar-icono.png') !important;    
}

.iconoNuevo{
    background-image: url('../../imagenes/nuevo-icono.png') !important;    
}

.iconoDescargar{
    background-image: url('../../imagenes/descargar-icono.png') !important;    
}

.iconoCargar{
    background-image: url('../../imagenes/subir-icono.png') !important;    
}

.iconoFiltro{
    background-image: url('../../imagenes/filtro-icono.png') !important;    
}

.iconoCorreo{
    background-image: url('../../imagenes/e-mail-icono.png') !important;    
}

.iconoCancelar{
    background-image: url('../../imagenes/cancelar-icono.png') !important;    
}

.claseConsulta{
    width: 100%;
}

.comboResponsivo{
    width: 100%;
}

.botonAceptar{
    width: 72px !important;
}

.ui-fileupload-content{
    overflow: auto;
}

.uploadFoto > .ui-fileupload-content{
    max-height: 190px;    
}